/* Start CSS lesson 1 */
/* h3 {
    color: purple;
    font-size: xx-large
} */

/* Start CSS lesson 2 */

* {
    
}

/*  Tag Name */
header {
    border: 2px dotted goldenrod;
}

/* Turn Off body style for Lesson 4 */
/* body {
    background: rgb(167, 156, 156);
} */

/* Class Tag */
.card {
    padding: 10px;
    background: white;
    margin-bottom: 10px; /* Uncomment for Lesson 5 with Borders */
}

.card p {
    font-size: 17px;
}

.html {
    font-size: large;
    color: aqua;
    margin: auto;
    background: #de4a24;  /* HTML icon colours */
}

.css {
    font-size: xx-large;
    color: cadetblue;
    margin: 10px 10px 10px 10px;
    background: #006cb3;   /* CSS icon colours */
}

/* ID Tag */
#header {
    background: #ddd;
    /* padding: 10px; */
}

/* Multiple selectors */

#header, .html, .css {
    margin-bottom: 43px;
}


