/* How to comment into CSS - use Ctrl +? */

body {
    color: #0F141E;
    background: #F1F1F1;
}

.colour-1 {
    color: aqua;
}

/* RGB, from black = 00 to white = ff, it means #RRGGBB */
.colour-2 {
    color: #4ba882;
}

/* RGB, short formula - #RGB */
.colour-3 {
    color: #971;
}

/* RGB aka std function*/
.colour-4 {
    color: rgb(red, green, blue);
    opacity: 0.3;
}

/* RGB aka function A with Opacity - 4th parametr*/
.colour-5 {
    color: rgba(150, 0, 0, 1);
}